@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.toLogin {
  font-size: 30px;
  font-weight: bold;
  color: #7e98df;
}

.toLogin:hover {
  text-decoration: none;
}

.background {
  background-color: #e5e5e5;
}
.item {
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(126, 152, 223, 0.05);
  border-radius: 30px;
  padding: 12px 30px;
}
.inputset {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #232323;
  width: 100%;
}

.inputset:focus {
  outline: none;
  border-bottom: 3px solid #232323;
  font-weight: bold;
}

.btn-block.rounded-pill {
  padding: 13px;
}

.blue.btn-block {
  background: #7e98df;
  border: 1px solid #7e98df;
}

.bluetext {
  color: #7e98df;
}

/* HOME */

.message {
  height: 100vh;
  overflow: auto;
}

.non-message {
  position: relative;
  top: 50%;
}

.input-field {
  display: grid;
  grid-template-columns: 15% 85%;
}

.input-field i {
  line-height: 55px;
  transition: 0.5s;
}

.input-field input {
  background: none;
  outline: none;
  font-weight: 600;
}

.img-border {
  border-radius: 30px;
}

.popover-body {
  background-color: #7e98df;
}

.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^='bottom'] > .arrow::after {
  border-bottom-color: #7e98df !important;
}
